@model InventoryManagementSoftware.Service.DTO.Inventory.DTOInventory

@{
    //ViewData["Title"] = "Add/Edit Inventory";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Add/Edit Inventory</h4>
</div>
<form asp-area="Administrator" asp-controller="Inventory" asp-action="Save" asp-antiforgery="true" method="post" id="inventory_addEdit_form">

    <div class="modal-body">
        <div class="form-group">
            <input asp-for="Id" type="hidden" />
            <lable>Name</lable>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Address</label>
            <input asp-for="Address.Id" type="hidden" class="form-control" />

            <input asp-for="Address.Name" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <lable>City</lable>

            @if (Model.Id == 0)
            {
                <select asp-for="Address.City.Id" asp-items="Model.Cities" class="form-control">
                    <option>---Choose a city---</option>
                </select>
            }
            else
            {
                <select asp-for="Address.City.Id" asp-items="Model.Cities" class="form-control"></select>
            }
        </div>

        <div class="form-group">
            <label>Phone number</label>
            <input asp-for="PhoneNumber.Id" type="hidden" class="form-control" />
            <input asp-for="PhoneNumber.Number" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label>Size (m2)</label>
            <input asp-for="Size" type="number" class="form-control" />
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn red btn-outline" data-dismiss="modal">Close</button>
        <button type="submit" class="btn green">Save changes</button>
    </div>
</form>

